.package {
	display: inline;
	padding: .2em .6em .3em;
	font-size: 90%;
	line-height: 1;
	color: #ffffff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 2px;
	margin-right: 4px;
}

.package.app {
	background-color: #009688;
}
.package.commercial {
	background-color: #3F51B5;
}
.package.common {
	background-color: #FF5722;
}

#chord {
	text-align: center;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}